.logo {
  position: center; 
}

.container nav {
  width: 60%;
  display: flex;
  justify-content: space-between 20px;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
  margin: right 20px;
  background: #2E2C48;
  border: 1px #dadada;
  box-sizing: border-box;
}

.container nav a {
  color: white;
  text-decoration: none;
}

.middle-content h2 {
  position: absolute;
  width: 148px;
  height: 29px;
  left: 162px;
  top: 120px;
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box1{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box2{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box3{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box4{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box5{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box6{
  width: 12.5%;
  height: 100px;
  background: #1a3e74;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}