text-content-1 {
  position: absolute;
  width: 458px;
  height: 87px;
  left: 70px;
  top: 235px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

cta-2.img {
  position: absolute;
  width: 299px;
  height: 227px;
  left: 178px;
  top: 378px;
}

